<div class="container pt-5">
    <h5 class="text-center mob">Mobile view</h5>
    <h4 class="text-center tab">Tablet view</h4>
    <h3 class="text-center desk">Desktop view</h3>
    <div class="grid">
        <div class="header bg-dark border text-uppercase ">
            <app-header></app-header>
        </div>
        <div class="menu bg-danger border text-uppercase">
            <app-menu></app-menu>
        </div>
        <div class="hero bg-primary border text-uppercase">
            <app-hero></app-hero>
        </div>
        <div class="main bg-secondary border text-uppercase">
            <app-main></app-main>
        </div>
        <div class="banner bg-warning border text-uppercase">
            <app-banner></app-banner>
        </div>
        <div class="extra bg-success border text-uppercase">
            <app-extra></app-extra>
        </div>
        <div class="image bg-info border text-uppercase">
            <app-image></app-image>
        </div>
    </div>
</div>